.btn {

    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    margin-bottom: 5px;
    background-color: rgb(237, 230, 230);
    
}
#bg{
    z-index: -1;
    height:100dvh ;
    width: 100%;
    position:absolute;
}
.start-text{
    text-align: center;
    color: white;
}
#presentation{
    color:rgb(179, 179, 240);
    text-align: center;
}

#start-button{
    background-color: pink;
    border: 2px solid;
}